@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,500,600,700&display=swap');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,300;1,400;1,700&display=swap');
@import "custom/admin-product.css";
@import "custom/admin-edit-product.css";
@import "custom/ProductStyle.css";
@import "custom/product-detail.css";
@import "custom/cart.css";
body {
    background-color: #f9e1e0 !important;
    font-size: 18px;
}

.header-bar {
    background-color: #ec2f0e !important;
}

.header-bar a {
    color: white !important;
}

.ftco-navbar-light .navbar-nav > .nav-item > .nav-link{
    font-size: 1rem;
}

h1, h2, h3, h4, h5, h6 {
    color: #0c3d89 !important;
}

.footer-area {
    background-color: #ec2f0e !important;
}

.footer-area p {
    color: white;
}

.spotlight {
    height: 675px;
}

.spotlight #home-title {
    height: 100%;
    align-items: center;
}

@media (max-width: 768px) { 
    .spotlight #home-title {
        background-image: url('../images/bg_1.jpg'); 
        background-size: cover;
        height: 100%;
        align-items: flex-start;
    }

}

a.btn.btn-danger:hover{
    background: transparent;
    color: #ec2f0e;
}

/* width */
::-webkit-scrollbar {
    width: 0.5rem;
}
  
  /* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 1rem;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ec2f0e;
  border-radius: 1rem;
}
.bold{
    font-weight: 600;
}
.left{
    float: left;
}
.right{
    float: right;
}
.active{
    color: green;
}
.deactive{
    color: #ec2f0e;
}