form#admin-edit-book{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;

    position: absolute;
    z-index: 3;
}
#admin-edit-book > *{
    flex: 0 0 40%;
}
.preview .admin-product{
    align-self: center;
    border: solid;
}
.admin-edit-warning{
    color: red;
}