.admin-list{
    background-color: antiquewhite;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    
    padding: 0 2rem;
}

.admin .list-group-item{
    color: black;
    background: rgba(255,255,255,0);
}

.admin{
    background-color: rgba(255,255,255,0);
    border: none;
}

.admin-list > *{
    flex: 0 0 calc(25% + 2rem);
    margin: 2rem 0;
}

.admin .card-title{
    text-align: center;
}

.admin .card-footer{
    display: flex;
    justify-content: space-around;
    background-color: rgba(255,255,255,0);
    flex-flow: row wrap;
}

.admin .card-footer > *{
    flex: 0 0 40%;
}

.admin > img{
    object-fit: contain;
    width: 100%;
    height: 20rem;
}
.btn-add{
    font-size: 4rem;
    color: red;
    position: fixed;
    top: 50%;
    cursor: pointer;
    z-index: 5;
}


@media only screen and (max-width: 1199px){
    .admin .card-footer > *{
        flex: 0 0 70%;
        margin-bottom: 1rem;
    }
}
@media only screen and (max-width: 991px){
    .admin-list > *{
        flex: 0 0 calc(40% + 2rem);
    }
}
@media only screen and (max-width: 767px){
    .admin-list > *{
        flex: 0 0 calc(80% + 2rem);
    }
}