
#admin-edit-book{
    display: none;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    background-color: rgba(250, 235, 215, 0.9);
    width: 80%;
    top: 10%;
    z-index: 5;
    max-height: 70%;
    border-radius: 1rem;
    border: solid;
    overflow-y: scroll;
}
#admin-edit-book > *{
    flex: 0 0 40%;
}
.preview .admin-product{
    align-self: center;
    border: solid;
}
.admin-edit-warning{
    color: red;
}
